{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "jsx-quotes": [2, "prefer-single"],
    "no-nested-ternary": 0,
    "react/jsx-curly-spacing": 0,
    "react/no-multi-comp": 0,
    "react/jsx-no-bind": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
